body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("hearts.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#content-box {
    width: 400px;
    height: 500px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;

}

#calculate {
    width: 150px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#result-percentage {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}